.solutions-site {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.solutionsSectionOne {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  color: #333;
  display: flex;
}

.solutionsSectionOne h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.solutionsSectionOne p {
  font-size: 1em;
  line-height: 1.6;
  color: #666;
}

.solutionsSectionOne img {
  width: 50%;
  height: auto;
  margin-top: 20px;
}

.solutionsSectionOne h3 {
  font-size: 1.2em;
  margin-top: 20px;}

.solutionsSectionOne ul {
  padding-left: 30px;
}

.solutionList{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 20px;
}

.solutions-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.solutions-details div {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  flex: 1 0 calc(33% - 20px);
  margin: 10px;
  text-align: center;
}

.solutions-details h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.solutions-details p {
  font-size: 1em;
  line-height: 1.6;
  color: #666;
}

  /* FAV ICONS START */

  #faShip {
    transition: transform 0.3s ease-in-out;
  }
  
  #faShip:hover {
    animation: sail 1s infinite;
    color: #0a3286;
  }
  
  @keyframes sail {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
  }

  #faPlane {
    transition: transform 0.3s ease-in-out;
  }
  
  #faPlane:hover {
    animation: fly 1s infinite;
    color: #98bdba;
  }
  
  @keyframes fly {
    0% { transform: translateX(0px); }
    50% { transform: translateX(10px); }
    100% { transform: translateX(0px); }
  }

  #faTruck {
    transition: transform 0.3s ease-in-out;
  }
  
  #faTruck:hover {
    animation: drive 1s infinite;
    color: #1d6660;
  }
  
  @keyframes drive {
    0% { transform: translateX(0px); }
    50% { transform: translateX(10px); }
    100% { transform: translateX(0px); }
  }