.footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
  }
  
  .footer p {
    margin: 0 0 10px;
    color: #6c757d;
  }

  .linkedin-icon {
    color: rgb(38, 117, 235);
    font-size: 30px;
    transition: color 0.3s ease;
  }